h2 {
  font-family: staatliches, cursive;
  text-align: center;
}

p,
button,
td {
  font-family: 'Montserrat', sans-serif;
}

.center-buttons {
  display: flex;
  justify-content: center;
}

h3,
th {
  font-family: staatliches, cursive;
}

table,
th,
td {
  border: 1px solid black;
}
